torch==1.12.0
fairseq==0.12.2
setuptools==49.6.0
cython
numpy
more-itertools
tensorboardX
six
more_itertools
p_tqdm
miditoolkit
chorder
scipy
matplotlib
pytorch-fast-transformers==0.4.0
pathlib
ruamel-yaml
